In [2]:
import pandas as pd
import requests
from datetime import datetime, timedelta,

In [68]:
date=datetime(2023,2,28)
dataset_code='wrvz-psew'
#date_from = datetime.strftime(date+timedelta(days=-1), "%Y-%m-%d")
date_to = datetime.strftime(date, "%Y-%m-%d")
url=f"https://data.cityofchicago.org/resource/{dataset_code}.csv?$where=trip_start_timestamp%20between%20%27{date_to}T00:00:00%27%20and%20%27{date_to}T23:59:59%27&$offset=1000&$$app_token="
response=requests.get(url)
from io import StringIO
import pandas as pd
df = pd.read_csv(StringIO(response.text))
df.shape[0]

1000

In [10]:
my_string="select * where trip_start_timestamp between 2023-02-27 00:00:00 and 2023-02-28 00:00:00"
my_string[50:58]

'00:'

In [30]:
my_df = pd.read_csv('./test.csv')
my_df.head(10)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
0,9e5e33c37ec3ccdc98dfa410ef3a9bd0c6a891ad,4cced0939feb0fece9479809f05e46793954d9156d8b18...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,929.0,10.01,NaN,NaN,76.0,15.0,...,5.5,32.00,Cash,Chicago Independents,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.954028,-87.763399,POINT (-87.7633990316 41.9540276487)
1,88bb49d7c5ccaaca3e0c553f0a811b37f3f09108,8aa56dbaf30cae892a59e732f54d5eb6694d054fd459e3...,2023-02-28T23:45:00.000,2023-03-01T00:15:00.000,1628.0,9.70,NaN,NaN,8.0,2.0,...,0.0,27.25,Prcard,Flash Cab,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),42.001571,-87.695013,POINT (-87.6950125892 42.001571027)
2,f20e5de6c78803b4595e1a8428b652970ce9ee2d,1f25a2b2c1cf1bd6ad6733bfa6eacddf5c9475102bfcd7...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,900.0,10.80,NaN,NaN,56.0,56.0,...,4.0,41.05,Credit Card,"Taxicab Insurance Agency, LLC",41.792592,-87.769615,POINT (-87.7696154528 41.7925923603),41.792592,-87.769615,POINT (-87.7696154528 41.7925923603)
3,3f8d0ca35e2ba4580feedf31259d623e0920dda0,ff214d6d48867d32b43c8caf27613acc83d3a03a290c37...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,720.0,4.90,NaN,NaN,3.0,7.0,...,0.0,14.75,Cash,Taxi Affiliation Services,41.965812,-87.655879,POINT (-87.6558787862 41.96581197),41.922686,-87.649489,POINT (-87.6494887289 41.9226862843)
4,c6dac82d7f532432381c4732d260b416e0acded1,8b1a88e5a09cfd55ca72d267f00f56fa50a42aa322bdfe...,2023-02-28T23:45:00.000,2023-03-01T00:30:00.000,2216.0,26.24,NaN,NaN,76.0,41.0,...,4.0,77.05,Credit Card,Flash Cab,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.794090,-87.592311,POINT (-87.592310855 41.794090253)
5,6c67457b683c45db49027df18534b6b4e6588722,158bdb99c0944908e89681ab608203e360f6e359ad4d94...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,899.0,12.00,NaN,NaN,NaN,22.0,...,0.0,30.50,Prcard,Flash Cab,NaN,NaN,NaN,41.922761,-87.699155,POINT (-87.6991553432 41.9227606205)
6,daf8208d07b7919bc30ef0de71faa2cecb4f91a5,fbfc2ff558d0fc2dd96362ef65d25e08f00b13bc427645...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,960.0,0.20,NaN,NaN,28.0,30.0,...,0.0,12.75,Unknown,Taxi Affiliation Services,41.874005,-87.663518,POINT (-87.6635175498 41.874005383),41.839087,-87.714004,POINT (-87.714003807 41.8390869059)
7,114cdbe2e3a1282c67a5d3a4dc764b44a7ff0b14,d8b304677754eacdf9fbfa9a1a2fc12375226b66e62cd5...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,1081.0,11.00,NaN,NaN,NaN,NaN,...,4.0,55.80,Credit Card,Medallion Leasin,NaN,NaN,NaN,NaN,NaN,NaN
8,4da35bd7a345a525651ffe035ed23863faec4890,2c1267cbb5667c1f61fe7807c2fd963de1ed9b17851fd3...,2023-02-28T23:45:00.000,2023-02-28T23:45:00.000,5.0,0.00,1.703132e+10,1.703132e+10,32.0,32.0,...,3.5,6.75,Cash,Flash Cab,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
9,f4badb18e0cf0c28925f61fc0f438ba7bbedfb25,3f46ef398d3308fb9794b8c5de450a88439d16c47b77b7...,2023-02-28T23:45:00.000,2023-03-01T00:00:00.000,1238.0,18.07,NaN,NaN,76.0,8.0,...,4.0,58.20,Credit Card,Sun Taxi,41.980264,-87.913625,POINT (-87.913624596 41.9802643146),41.899602,-87.633308,POINT (-87.6333080367 41.899602111)

In [31]:
my_df.shape[0]

1000

In [32]:
pip install sodapy

Collecting sodapy
  Using cached sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.28.1 in ./.venv/lib/python3.8/site-packages (from sodapy) (2.28.2)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.8/site-packages (from requests>=2.28.1->sodapy) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./.venv/lib/python3.8/site-packages (from requests>=2.28.1->sodapy) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.8/site-packages (from requests>=2.28.1->sodapy) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.8/site-packages (from requests>=2.28.1->sodapy) (3.1.0)
Installing collected packages: sodapy
Successfully installed sodapy-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [64]:
date = "2023-02-28"
dataset_id = 'wrvz-psew'
app_token='CydGgk1HJhuh23SvIpv4fJnss'
def get_api_data(date=date,
                 dataset_id=dataset_id,
                 app_token=app_token):
    from sodapy import Socrata
    import pandas as pd
    import time
    import json
    import calendar
    def convert_point(input):
        if pd.isna(input):
            return None
        else:
            result_str = f"{input['coordinates'][0]},{input['coordinates'][1]}"
            return result_str
    
    new_data = True
    client = Socrata("data.cityofchicago.org", app_token=app_token)
    offset=0
    offset_factor=10000
    output_df = pd.DataFrame()
    while new_data:
        results = client.get(dataset_identifier=dataset_id,
                             limit=offset_factor,
                            where=f'trip_start_timestamp between "{date}T00:00:00" and "{date}T23:59:59"',
                            offset=offset)
        results_df = pd.DataFrame.from_records(results)
        if results_df.shape[0]>0:
            output_df = pd.concat([output_df, results_df])
            offset+=offset_factor
            time.sleep(5)
        else:
            print('No New Data')
            new_data=False

    print(f'API returned {output_df.shape[0]} rows in total')
    output_df['pickup_centroid_location']=output_df['pickup_centroid_location'].apply(lambda x: convert_point(x))
    output_df['dropoff_centroid_location']=output_df['dropoff_centroid_location'].apply(lambda x: convert_point(x))
    filename = f'./data/{dataset_id}_{date}.csv'
    output_df.to_csv('./test.csv', mode='w+')

No New Data
API returned 18206 rows in total

In [62]:
import json
def convert_point(input):
    if pd.isna(input):
        return None
    else:
        result_str = f"{input['coordinates'][0]},{input['coordinates'][1]}"
        return result_str
output_df['dropoff_centroid_location']=output_df['dropoff_centroid_location'].apply(lambda x: convert_point(x))

TypeError: string indices must be integers

In [52]:
val = "{'type': 'Point', 'coordinates': [-87.6209929134, 41.8849871918]}"
dict(val)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:

def get_api_data_month(month: int,
                       year: int,
                       dataset_id=dataset_id,
                       app_token=app_token,
                       connection_url=connection_url):   
    new_data = True
    client = Socrata(connection_url, app_token=app_token)
    offset=0
    offset_factor=10000
    output_df = pd.DataFrame()
    day_from, day_to = calendar.monthrange(year, month)
    date_from = f'{year}-{month}-{day_from}T00:00:00'
    date_to = f"{year}-{month}-{day_to}T23:59:59"
    query = f'trip_start_timestamp between "{date_from}" and "{date_to}"'
    while new_data:
        results = client.get(dataset_identifier=dataset_id,
                             limit=offset_factor,
                             where=query,
                             offset=offset)
        results_df = pd.DataFrame.from_records(results)
        if results_df.shape[0]>0:
            output_df = pd.concat([output_df, results_df])
            offset+=offset_factor
            time.sleep(5)
        else:
            print('No New Data')
            new_data=False

    log.info(f'API returned {output_df.shape[0]} rows in total')
    output_df['pickup_centroid_location']=output_df['pickup_centroid_location'].apply(lambda x: convert_point(x))
    output_df['dropoff_centroid_location']=output_df['dropoff_centroid_location'].apply(lambda x: convert_point(x))
    filename = f'./data/{dataset_id}/{year}_{month}.csv'
    output_df.to_csv(filename, mode='w+')

In [71]:
def api_result_to_psql(year, month):
    import requests
    import pandas as pd
    import calendar
    from io import StringIO
    import time
    def convert_point(input):
        if pd.isna(input):
            return None
        else:
            result_str = f"{input['coordinates'][0]},{input['coordinates'][1]}"
            return result_str
    dataset_code = 'wrvz-psew'
    url_base = f"https://data.cityofchicago.org/resource/{dataset_code}.csv"
    day_from, day_to = calendar.monthrange(int(year), int(month))
    date_from = f'{year}-{month}-{day_from}T00:00:00'
    date_to = f"{year}-{month}-{day_to}T23:59:59"
    print(date_from)
    print(date_to)
    where_query = f"?$where=trip_start_timestamp%20between%20%27{date_from}%27%20and%20%27{date_to}%27"
    app_token_query = f"$$app_token={'CydGgk1HJhuh23SvIpv4fJnss'}"
    offset_factor = 10000
    offset_val = 0
    new_data = True
    output_df = pd.DataFrame()
    while new_data:
        offset_query = f"$offset={offset_val}"
        request_url = f"{url_base}?{where_query}&{offset_query}&{app_token_query}"
        print(request_url)
        response = requests.get(request_url)
        result_df = pd.read_csv(StringIO(response.text))
        page_num = 1
        if result_df.shape[0]>0:
            print(f'Fetching page: {page_num}')
            output_df = pd.concat([output_df, result_df])
            offset_val += offset_factor
            page_num += 1
            print(f'Received {result_df.shape[0]} rows from API - Total: {output_df.shape[0]} | Query records from id {offset_val}')
            time.sleep(5)
        else:
            new_data = False
    print(f'API returned {output_df.shape[0]} rows in total')
    output_df['pickup_centroid_location'] = output_df['pickup_centroid_location']\
                                                    .apply(lambda x: convert_point(x))
    output_df['dropoff_centroid_location'] = output_df['dropoff_centroid_location']\
                                                    .apply(lambda x: convert_point(x))
    print('Done')

api_result_to_psql(2023, 1)

2023-1-6T00:00:00
2023-1-31T23:59:59
0
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=0&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
10000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=10000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
20000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=20000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
30000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=30000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
40000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=40000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
50000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=50000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
60000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=60000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
70000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=70000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
80000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=80000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss
90000
https://data.cityofchicago.org/resource/wrvz-psew.csv??$where=trip_start_timestamp%20between%20%272023-1-6T00:00:00%27%20and%20%272023-1-31T23:59:59%27&$offset=90000&$$app_token=CydGgk1HJhuh23SvIpv4fJnss

KeyboardInterrupt:

In [72]:
import calendar

calendar.monthrange(2023, 1)

(6, 31)